.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

/coverage
.pnp.*

# dotenv environment variables
.env

# Ignore node_modules folder
node_modules/

# Ignore TypeScript build output
dist/

# TypeScript
*.tsbuildinfo
